@model PL.MVC.Models.Account.LocalPasswordModel

@{
    ViewBag.Title = "Change password";
}

<h2>Change password</h2>
<hr>
<div>@ViewBag.Message</div>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    @Html.LabelFor(model => model.OldPassword)<br/>
    @Html.EditorFor(model => model.OldPassword)
    @Html.ValidationMessageFor(model => model.OldPassword)<br/>
    
    @Html.LabelFor(model => model.NewPassword)<br/>
    @Html.EditorFor(model => model.NewPassword)
    @Html.ValidationMessageFor(model => model.NewPassword)<br/>
    
    @Html.LabelFor(model => model.ConfirmPassword)<br/>
    @Html.EditorFor(model => model.ConfirmPassword)
    @Html.ValidationMessageFor(model => model.ConfirmPassword)<br/>
    
    <input type="submit" value="sumbmit"/>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}